*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(19, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
   
}
.container{
    margin-top: 2rem;
    margin-left: 25rem;
    padding: 1rem;
    width: 700px;
    height: 510px;
    border: 1px solid rgb(78, 62, 62);
    background: #363232;
    border-radius: 10px;
}
.sub-container{
    margin-left: 12rem;
    margin-top: 2rem;
}

.logo-container{
    margin-top: 2rem;

}

.logo{
    width: 120px;
    margin-left: 43rem;
    margin-top: 1rem;
}

label{
    color: white;

}

.p1{
    margin-top: 1rem;
    margin-left: 15rem;
    font-size: 20px;
    color: rgb(223, 194, 194);
}
.p2{
    margin-top: 1rem;
    margin-left: 19rem;
    font-size: 20px;
    color: rgb(223, 194, 194);
}

span{
    color: white;
    margin-left: .25rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea{
    display: block;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 10px 0;
    text-transform: capitalize;
    color: rgb(49, 6, 6);
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    color: rgb(252, 166, 166);
}
.submit-btn{
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgb(62, 112, 176);
    color: rgb(255, 248, 248);
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px 0;
}

.checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #666262;
    cursor: pointer;
}
.checkbox:checked{
    background: #9e8d8d;
}
.checkbox::after{
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 100%;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
}
.checkbox:checked::after{
    display: block;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus{
    outline: 1px solid #e24c4b;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
label{
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #383838;
}
label a{
    color: #383838;
}
.Login-link{
    color: #786c6c;
    text-transform: capitalize;
    margin-left: 1.5rem;
    display: block;
}
.signup-link{
    color: #786c6c;
    text-transform: capitalize;
    text-align: center;
    display: block;
}
@media Screen and (max-width: 820px){
        
    .container{
        margin-top: 2rem;
        margin-left: 4rem;
        margin-bottom: 1rem;
        width: 700px;
        height: 510px;
        border: 1px solid rgb(78, 62, 62);
        background: #363232;
        border-radius: 10px;
    }
    .logo{
        width: 120px;
        margin-left: 20rem;
        margin-top: 1rem;
    }
}

@media Screen and (max-width: 410px){
    .container{
        margin-top: 2rem;
        margin-left: 6rem;
        margin-bottom: 1rem;
        width: 350px;
        height: 510px;
        border: 1px solid rgb(78, 62, 62);
        background: #363232;
        border-radius: 10px;
    }
    .logo{
        width: 100px;
        margin-left: 14rem;
        margin-top: 1rem;
    }
    .sub-container{
        margin-left: 2rem;
        margin-top: 2rem;
    }
        
    .p1{
        margin-top: 1rem;
        margin-left: 5rem;
        font-size: 16px;
        color: rgb(223, 194, 194);
    }
    .p2{
        margin-top: 1rem;
        margin-left: 5rem;
        font-size: 16px;
        color: rgb(223, 194, 194);
    }
    
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea{
    display: block;
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 10px 0;
    text-transform: capitalize;
    color: rgb(49, 6, 6);
    font-size: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder{
    color: rgb(252, 166, 166);
}
.submit-btn{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgb(62, 112, 176);
    color: rgb(255, 248, 248);
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: 5rem;
}

.checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #666262;
    cursor: pointer;
}
.checkbox:checked{
    background: #9e8d8d;
}
.checkbox::after{
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 100%;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
}
.checkbox:checked::after{
    display: block;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus{
    outline: 1px solid #e24c4b;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
label{
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    color: #383838;
}
label a{
    color: #383838;
}
.Login-link{
    color: #786c6c;
    text-transform: capitalize;
    margin-left: 1.5rem;
    display: block;
}
.signup-link{
    color: #786c6c;
    text-transform: capitalize;
    text-align: center;
    display: block;
}

}