
.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    margin-left: 25%;
}
.card{
    border: 1px solid black;
    background-color: rgb(79, 113, 113);
    padding: .5rem;
}